%burger-icon-line {
    @extend %transition;
    position: absolute;
    background-color: $color-white;
    width: 14px;
    height: 2px;
    border-radius: 1px;
}

.nav-burger {
    @extend %transition;
    display: block;
    padding: 8px;
    background: transparent;
    border: none;
    cursor: pointer;

    &:hover,
    &:focus {
        .nav-burger__wrap {
            border-color: $color-white-darker;
        }

        .nav-burger__icon {
            background-color: $color-white-darker;

            &::before,
            &::after {
                background-color: $color-white-darker;
            }
        }
    }

    &:active {
        .nav-burger__wrap {
            border-color: $color-white-darkest;
        }

        .nav-burger__icon {
            background-color: $color-white-darkest;

            &::before,
            &::after {
                background-color: $color-white-darkest;
            }
        }
    }

    &__wrap {
        @extend %transition;
        position: relative;
        width: 24px;
        height: 24px;
        border: 2px solid $color-white;
    }

    &__icon {
        @extend %burger-icon-line;
        top: 9px;
        left: 3px;

        &::before,
        &::after {
            @extend %burger-icon-line;
            content: '';
            left: 0;
        }

        &::before {
            top: 6px;
        }

        &::after {
            bottom: 6px;
        }
    }

    &_active {
        .nav-burger__icon {
            background-color: transparent;

            &::before {
                transform: rotate(135deg);
                top: 0;
            }

            &::after {
                transform: rotate(-135deg);
                bottom: 0;
            }
        }

        &:hover,
        &:focus {
            .nav-burger__icon {
                background-color: transparent;
            }
        }
    }
}
