%burger-icon-pseudo {
    @extend %transition;
    content: '';
    position: absolute;
    background-color: $color-white;
    width: 14px;
    height: 2px;
    border-radius: 1px;
    left: 0;
}

.nav-burger {
    @extend %transition;
    display: flex;
    padding: 8px;
    cursor: pointer;

    &:hover,
    &:active {
        transform: scale(1.2, 1.2);
    }

    .nav-burger__button {
        position: relative;
        width: 24px;
        height: 24px;
        border: 2px solid $color-white;
        background: none;
        cursor: pointer;
    }

    &__icon {
        @extend %transition;
        display: block;
        position: absolute;
        top: 9px;
        left: 3px;
        background-color: $color-white;
        width: 14px;
        height: 2px;
        border-radius: 1px;

        &::before {
            @extend %burger-icon-pseudo;
            top: 6px;
        }

        &::after {
            @extend %burger-icon-pseudo;
            bottom: 6px;
        }
    }

    &_active {
        .nav-burger__icon {
            background-color: transparent;

            &::before {
                transform: rotate(135deg);
                top: 0;
            }

            &::after {
                transform: rotate(-135deg);
                bottom: 0;
            }
        }
    }
}
