.footer {
    text-align: center;

    ::selection {
        color: $color-text;
        background-color: $color-gray;
    }

    &__social {
        display: flex;
        justify-content: center;
        margin-bottom: 28px;
    }

    &__line {
        margin: 0 auto 24px;
    }

    &__copyright {
        text-transform: uppercase;
    }
}
