.work {
    text-align: center;
    color: $color-white;

    &:hover &__inner {
        opacity: 1;
    }

    &__wrap {
        position: relative;
        padding-top: 95%;
        overflow: hidden;
    }

    &__img {
        position: absolute;
        top: 0;
        left: 0;
        object-fit: cover;
        width: 100%;
        height: 100%;
    }

    &__inner {
        @extend %transition;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        padding: 5%;
        opacity: 0;
        background-color: rgba($color-primary, 0.7);
    }

    &__subtitle {
        margin-top: 8px;
    }

    &__button {
        margin-top: 20px;
    }
}
