@font-face {
    font-family: "Montserrat";
    src: url("../fonts/Montserrat-Regular.woff") format("woff"),
        url("../fonts/Montserrat-Regular.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Montserrat";
    src: url("../fonts/Montserrat-Italic.woff") format("woff"), url("../fonts/Montserrat-Italic.woff2") format("woff2");
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: "Montserrat";
    src: url("../fonts/Montserrat-Bold.woff") format("woff"), url("../fonts/Montserrat-Bold.woff2") format("woff2");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "Montserrat";
    src: url("../fonts/Montserrat-BoldItalic.woff") format("woff"),
        url("../fonts/Montserrat-BoldItalic.woff2") format("woff2");
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: "Roboto Slab";
    src: url("../fonts/RobotoSlab-Regular.woff") format("woff"),
        url("../fonts/RobotoSlab-Regular.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Roboto Slab";
    src: url("../fonts/RobotoSlab-Bold.woff") format("woff"), url("../fonts/RobotoSlab-Bold.woff2") format("woff2");
    font-weight: bold;
    font-style: normal;
}

:root {
    --font-primary: "Roboto Slab", serif;
    --font-secondary: "Montserrat", sans-serif;
    --color-primary: #c0301c;
    --color-gray: #f8f8f8;
    --color-white: #fff;
    --color-black: #000;
    --header-height: 63px;
}

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    font-family: var(--font-primary);
    font-size: 14px;
    line-height: 1.5;
    color: #555;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.text-white {
    color: var(--color-white);
}

.text-center {
    text-align: center;
}

.container,
.container-fluid {
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
    position: relative;
}

.content {
    flex: 1 0 auto;
    margin-top: calc(-1 * var(--header-height));
}

.header {
    flex: 0 0 auto;
    height: var(--header-height);
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    z-index: 1;
}

.footer {
    flex: 0 0 auto;
}

.section {
    padding: 100px 0;
    background: no-repeat center / cover;
}

.section-first {
    display: flex;
    align-items: center;
    min-height: 100vh;
    background-size: cover;
    padding-top: calc(100px + var(--header-height));
}

.section-bg-primary {
    background-color: var(--color-primary);
}

.section-bg-gray {
    background-color: var(--color-gray);
}

.section-fill-primary,
.section-fill-dark {
    position: relative;
}

.section-fill-primary::before,
.section-fill-dark::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
}

.section-fill-primary::before {
    background-color: var(--color-primary);
    opacity: 0.6;
}

.section-fill-dark::before {
    background-color: var(--color-black);
    opacity: 0.45;
}

.container {
    max-width: 1170px;
}

.logo {
    display: inline-block;
    font-weight: bold;
    font-size: 20px;
    color: var(--color-white);
    letter-spacing: 1px;
    text-decoration: none;
}

.nav {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.nav li {
    display: inline-block;
    margin-right: 30px;
}

.nav li:last-child {
    margin-right: 0;
}

.nav li a {
    text-decoration: none;
    color: var(--color-white);
}

.nav li a:hover {
    border-bottom: 2px solid var(--color-white);
}
