/* Global */
@import "global/index.css";

/* Blocks */
@import "blocks/header.css";
@import "blocks/logo.css";
@import "blocks/nav.css";
@import "blocks/content.css";
@import "blocks/footer.css";
@import "blocks/button.css";
@import "blocks/work.css";
@import "blocks/section.css";
