/* Global */
@import 'global/index';

/* Blocks */
@import 'blocks/line';
@import 'blocks/input';
@import 'blocks/form';
@import 'blocks/logo';
@import 'blocks/title';
@import 'blocks/subtitle';
@import 'blocks/link';
@import 'blocks/nav';
@import 'blocks/icon';
@import 'blocks/contacts';
@import 'blocks/clients';
@import 'blocks/service';
@import 'blocks/work';
@import 'blocks/header';
@import 'blocks/blog';
@import 'blocks/about';
@import 'blocks/button';
@import 'blocks/section';
@import 'blocks/root';
@import 'blocks/block';
@import 'blocks/social';
