.title {
    margin: 0;
    font-family: $font-secondary;
    font-size: 20px;
    font-weight: 500;
    text-transform: uppercase;
    line-height: 1.2;

    &_size_lg {
        font-size: 4.8rem;
        font-weight: 400;
        letter-spacing: 2px;
    }

    &_size_sm {
        font-size: 14px;
        font-weight: 600;
    }
}
