.about {
    &__row {
        margin-top: 60px;
        text-align: center;
    }

    &__wrap {
        position: relative;
        padding-top: 100%;
        overflow: hidden;

        &::before {
            @extend %transition;
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            z-index: 1;
            background-color: $color-black;
            opacity: 0;
        }

        &:hover::before {
            opacity: 0.45;
        }
    }

    &__img {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
    }

    &__social {
        display: none;
        position: absolute;
        top: 75%;
        width: 100%;
        justify-content: center;
        z-index: 1;

        .about__wrap:hover & {
            display: flex;
        }
    }

    &__title {
        margin-top: 20px;
    }

    &__subtitle {
        margin-top: 16px;
        font-size: 12px;
    }
}
