.about {
    text-align: center;

    &__wrap {
        position: relative;
        padding-top: 100%;
        overflow: hidden;

        &::before {
            @extend %transition;
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            z-index: 1;
            background-color: $color-text;
            opacity: 0;
        }

        &:hover::before {
            opacity: 0.5;
        }
    }

    &__img {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background: no-repeat top / cover;
    }

    &__social {
        @extend %transition;
        display: flex;
        justify-content: center;
        position: absolute;
        bottom: 0;
        padding: 10%;
        width: 100%;
        z-index: 1;
        opacity: 0;

        .about__wrap:hover & {
            opacity: 1;
        }
    }

    &__title {
        margin-top: 20px;
    }

    &__subtitle {
        margin-top: 12px;
    }
}
