.block {
    border: 1px solid var(--color-white-active);
    border-radius: 8px;
    overflow: hidden;
}

.block__name {
    font-size: 27px;
    line-height: 1.3;
    padding: 12px 16px;
    background-color: var(--color-gray);
    border-bottom: 1px solid var(--color-white-active);
}

.block__body {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    padding: 16px;
    margin: -8px;
}

.block__item {
    margin: 8px;
    padding: 16px;
    border: 1px solid var(--color-white-active);
    border-radius: 4px;
    overflow: hidden;
}

.block__item:only-child {
    padding: 0;
    border: none;
}

.block__item_dark {
    background-color: var(--color-text);
    border-color: transparent;
}

.block__item_dark:only-child {
    padding: 16px;
}
