.button {
    @extend %transition;
    display: inline-flex;
    align-items: center;
    line-height: 1.5;
    background: transparent;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
    color: $color-white;
    border: 2px solid $color-white;
    padding: 12px 24px;
    fill: currentColor;
    outline: none;
    user-select: none;
    cursor: pointer;
    text-align: center;

    &:hover {
        background-color: $color-white;
        color: $color-text;
    }

    &:focus {
        box-shadow: 0 0 2px 1px $color-white;
    }

    &:active {
        color: $color-text;
        background-color: $color-white-darker;
        border-color: $color-white-darker;
        box-shadow: 0 0 2px 1px $color-white-darker;
    }

    &__icon {
        flex: none;
        width: 10px;
        margin-left: 12px;
    }

    &_type_light {
        padding: 8px 16px;
        font-size: 10px;
        border: none;
        background-color: $color-white;
        color: $color-primary;

        .button__icon {
            width: 7px;
            margin-left: 8px;
        }
    }

    &_type_form {
        font-size: 10px;
        border: 1px solid $color-text;
        color: $color-text;
        letter-spacing: 1px;

        .button__icon {
            width: 7px;
        }

        &:hover {
            background-color: $color-text;
            color: $color-white;
        }

        &:focus {
            box-shadow: 0 0 2px 1px $color-text;
        }

        &:active {
            background-color: $color-text-active;
            border-color: $color-text-active;
            box-shadow: 0 0 2px 1px $color-text-active;
            color: $color-white;
        }
    }
}

input.button {
    display: inline-block;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
}
