.button {
    display: inline-flex;
    align-items: center;
    line-height: 1.5;
    background: transparent;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
    color: var(--color-white);
    border: 2px solid var(--color-white);
    padding: 12px 24px;
    transition: var(--transition);
    fill: currentColor;
    outline: none;
    user-select: none;
    cursor: pointer;
    text-align: center;
}

input.button {
    display: inline-block;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
}

.button:hover {
    background-color: var(--color-white);
    color: var(--color-text);
}

.button:focus {
    box-shadow: 0 0 2px 1px var(--color-white);
}

.button:active {
    color: var(--color-text);
    background-color: var(--color-white-darker);
    border-color: var(--color-white-darker);
    box-shadow: 0 0 2px 1px var(--color-white-darker);
}

.button__icon {
    flex: none;
    width: 8px;
    height: 12px;
    margin-left: 12px;
}

.button_type_light {
    padding: 8px 16px;
    font-size: 10px;
    border: none;
    background-color: var(--color-white);
    color: var(--color-primary);
}

.button_type_light .button__icon {
    height: 7px;
    margin-left: 8px;
}

.button_type_form {
    font-size: 10px;
    border: 1px solid var(--color-text);
    color: var(--color-text);
    letter-spacing: 1px;
}

.button_type_form .button__icon {
    height: 7px;
}

.button_type_form:hover {
    background-color: var(--color-text);
    color: var(--color-white);
}

.button_type_form:focus {
    box-shadow: 0 0 2px 1px var(--color-text);
}

.button_type_form:active {
    background-color: var(--color-text-active);
    border-color: var(--color-text-active);
    box-shadow: 0 0 2px 1px var(--color-text-active);
    color: var(--color-white);
}
