.button {
    display: inline-flex;
    align-items: center;
    line-height: 1.5;
    background: transparent;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
    color: var(--color-white);
    border: 2px solid var(--color-white);
    padding: 12px 24px;
    transition: var(--transition);
    fill: currentColor;
    outline: none;
    user-select: none;
    cursor: pointer;
    text-align: center;
}

input.button {
    display: inline-block;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
}

.button:hover {
    background-color: var(--color-white);
    color: var(--color-text);
}

.button:focus {
    box-shadow: 0 0 2px 1px var(--color-white);
}

.button:active {
    background-color: var(--color-white-active);
    border-color: var(--color-white-active);
    box-shadow: 0 0 2px 1px var(--color-white-active);
}

.button__icon {
    flex: none;
    height: 12px;
    margin-left: 12px;
}
