.clients {
    text-align: center;

    &__logo {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }

    &__img-wrap {
        padding: 4px 36px;
    }

    &__quote {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__quote-wrap {
        max-width: 70%;
    }

    &__quote-text {
        margin-top: 32px;
        font-size: 18px;
        font-style: italic;
    }

    &__quote-author {
        margin-top: 36px;
        font-size: 20px;
    }
}
