.content {
    flex: 1 0 auto;
    margin-top: calc(-1 * var(--header-height));
}

.logo {
    display: inline-block;
    font-weight: bold;
    font-size: 20px;
    color: var(--color-white);
    letter-spacing: 1px;
    text-decoration: none;
}

.nav {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.nav__item {
    display: inline-block;
    margin-right: 30px;
}

.nav__item:last-child {
    margin-right: 0;
}

.nav__link {
    text-decoration: none;
    color: var(--color-white);
}

.nav__link:hover {
    border-bottom: 2px solid var(--color-white);
}