.button_type_form {
    font-size: 10px;
    border: 1px solid var(--color-text);
    color: var(--color-text);
    letter-spacing: 1px;
}

.button_type_form:hover {
    background-color: var(--color-text);
    color: var(--color-white);
}

/*test icon*/
.button_type_form .button__icon_middle_size {
    flex: none;
    height: 8px;
    margin-left: 10px;
}
