.form {
    &__col-wrap {
        display: inline-flex;
    }

    &__remark {
        margin: auto 0;
        font-size: 12px;
        color: $color-text;

        span {
            color: $color-primary;
        }
    }
}
