.form {
    &__input {
        height: 100%;

        &::placeholder {
            text-transform: uppercase;
        }
    }

    &__col {
        padding: 16px 8px;

        &:last-child {
            display: inline-flex;
        }
    }

    &__remark {
        margin: auto 0;
        font-size: 12px;
        color: $color-text;

        span {
            color: $color-primary;
        }
    }
}
