.icon {
    display: flex;
}

.icon__item {
    width: 30px;
    height: 30px;
    padding: 6px;
    margin: 6px;
}

.icon__svg {
    width: 100%;
    height: 100%;
}

.icon_ratio {
    display: block;
}

.icon__wrap {
    position: relative;
    padding-top: 100%;
}

.icon_ratio .icon__svg {
    position: absolute;
    top: 0;
    left: 0;
}
