.input {
    display: block;
    @extend %transition;
    height: 44px;
    transition-property: border-color;
    color: $color-text;
    font-size: 12px;
    width: 100%;
    outline: none;
    border: 1px solid $color-text;
    padding: 12px 16px;

    &::placeholder {
        @extend %transition;
        text-transform: uppercase;
        color: lighten($color-text, 20%);
    }

    &:focus::placeholder {
        opacity: 0;
    }

    &:hover,
    &:active {
        border-color: $color-primary;
    }

    &:focus {
        border-color: $color-primary-active;
    }
}

textarea.input {
    resize: vertical;
    min-height: 104px;
    line-height: 1.5;
}
