.logo {
    padding: 8px 16px;
    font-weight: bold;
    font-size: 20px;
    color: var(--color-white);
    letter-spacing: 1px;
    text-decoration: none;
    user-select: none;
    transition: var(--transition);
}

.logo:hover,
.logo:focus {
    color: var(--color-white-darker);
}

.logo:active {
    color: var(--color-white-darkest);
}
