.nav-burger {
    display: none;
    position: relative;
    width: 24px;
    min-width: 24px;
    height: 24px;
    border: 2px solid $color-white;
    cursor: pointer;

    &__icon {
        display: block;
        position: absolute;
        top: 9px;
        left: 3px;
        background-color: $color-white;
        width: 14px;
        height: 2px;
        border-radius: 1px;

        &::before,
        &::after {
            @extend %transition;
            content: '';
            position: absolute;
            background-color: $color-white;
            width: 14px;
            height: 2px;
            border-radius: 1px;
        }

        &::before {
            top: 6px;
        }

        &::after {
            bottom: 6px;
        }
    }

    &__nav {
        display: none;
        padding: 0;
        margin-bottom: 0;
        width: 90px;
        background-color: $color-white;
        border: 1px solid $color-primary-active;
        list-style-type: none;
    }

    &__link {
        display: block;
        outline: none;
        padding: 8px 16px;
        text-decoration: none;
        color: $color-primary;
        border-right: 8px solid transparent;
        border-bottom: none;

        &:hover,
        &:focus {
            background-color: $color-gray;
            border-color: $color-primary-active;
        }

        &:active {
            background-color: $color-gray;
        }
    }

    &_on {
        .nav-burger__icon {
            background-color: transparent;

            &::before {
                transform: rotate(135deg);
                top: 0;
            }

            &::after {
                transform: rotate(-135deg);
                bottom: 0;
            }
        }

        .nav-burger__nav {
            display: block;
        }
    }
}
