.nav {
    display: inline-flex;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.nav__link {
    outline: none;
    padding: 5px 15px;
    text-decoration: none;
    color: var(--color-white);
    transition: var(--transition);
    border-bottom: 2px solid transparent;
}

.nav__link:hover,
.nav__link:focus {
    color: var(--color-white-darker);
    border-bottom-color: currentColor;
}

.nav__link:active {
    color: var(--color-white-darkest);
    border-bottom-color: currentColor;
}
