$header-height: 72px;
$content-margin-top: -$header-height;
$section-padding-top: 100px + $header-height;
$color-line: #ddd;

.root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;

    &__header {
        flex: 0 0 auto;
        height: $header-height;
        z-index: 1;
    }

    &__content {
        flex: 1 0 auto;
    }

    &__content-with-header {
        margin-top: $content-margin-top;
    }

    &__section-with-header {
        padding-top: $section-padding-top;
    }

    &__footer {
        flex: 0 0 auto;
    }

    &__text-align-center {
        text-align: center;
    }

    &__block {
        margin: 32px 0;
    }

    &__title {
        margin-bottom: 20px;
    }

    &__title-section-wrap {
        text-align: center;
        margin-bottom: 68px;
    }

    &__title-section {
        margin-bottom: 24px;
    }

    &__line {
        margin: 0 auto 20px;
    }

    &__subtitle {
        text-transform: capitalize;
        margin-bottom: 48px;
    }

    &__blog {
        & + & {
            margin-top: 32px;
            padding-top: 32px;
            border-top: 1px solid $color-line;
        }
    }

    &__row-about {
        margin-bottom: 68px;
    }
}
