.root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.root__header {
    flex: 0 0 auto;
    height: var(--header-height);
    z-index: 1;
}

.root__content {
    flex: 1 0 auto;
}

.root__content-with-header {
    margin-top: calc(-1 * var(--header-height));
}

.root__section-with-header {
    padding-top: calc(100px + var(--header-height));
}

.root__footer {
    flex: 0 0 auto;
}

.root__text-align-center {
    text-align: center;
}

.root__text-white {
    color: var(--color-white);
}

.root__block {
    margin-top: 32px;
    margin-bottom: 32px;
}
