.social {
    line-height: 1;
}

.social__wrap {
    display: inline-flex;
    flex-wrap: wrap;
}

.social__link {
    padding: 8px;
    width: 28px;
    height: 28px;
    transition: var(--transition);
}

.social__link:hover {
    background-color: var(--color-primary);
}

.social__link:active {
    background-color: var(--color-primary-active);
}

.social__link_color_fb:hover {
    background-color: var(--color-fb);
}

.social__link_color_fb:active {
    background-color: var(--color-fb-active);
}

.social__link_color_tw:hover {
    background-color: var(--color-tw);
}

.social__link_color_tw:active {
    background-color: var(--color-tw-active);
}

.social__link_color_gp:hover {
    background-color: var(--color-gp);
}

.social__link_color_gp:active {
    background-color: var(--color-gp-active);
}

.social__link_color_linkedin:hover {
    background-color: var(--color-linkedin);
}

.social__link_color_linkedin:active {
    background-color: var(--color-linkedin-active);
}

.social__icon {
    display: block;
    width: 100%;
    height: 100%;
    fill: var(--color-white);
}

.social_alternative .social__wrap {
    margin: -8px;
}

.social_alternative .social__link {
    margin: 8px;
    width: 35px;
    height: 35px;
    border: 2px solid var(--color-white);
    border-radius: 50%;
}
