.social div:nth-of-type(1) {
    display: inline-flex;
    flex-wrap: wrap;
}

.social__wrap {
    margin: -8px;
}

.social__link {
    width: 28px;
    height: 28px;
    margin: 8px;
    transition: var(--transition);
}

.social__link:hover {
    background-color: var(--color-primary);
}

.social__link_alternative {
    width: 32px;
    height: 32px;
    border: 2px solid var(--color-white);
    border-radius: 50%;
}

.social__link_alternative:not(:last-child) {
    margin-right: 14px;
}

.social__icon {
    fill: var(--color-white);
    margin: 8px;
}
