.social {
    margin: 0;
    padding: 0;
    display: inline-flex;
    list-style-type: none;
}

.social__link {
    width: 28px;
    height: 28px;
    transition: var(--transition);
}

.social__link:hover {
    fill: var(--color-white);
    background: var(--color-primary);
}

.social__link_alternative {
    width: 31px;
    height: 31px;
}

.social__link_alternative:not(:last-child) {
    margin-right: 14px;
}

.social__icon {
    display: block;
}

.social__icon_alternative {
    display: block;
    border: 2px solid var(--color-white);
    border-radius: 50%;
    fill: var(--color-white);
    transition: var(--transition);
}

.social__icon_alternative:hover {
    fill: var(--color-primary);
    border-color: var(--color-primary);
}
