.social__wrap {
    display: inline-flex;
    flex-wrap: wrap;
    margin: -8px;
}

.social__link {
    width: 28px;
    height: 28px;
    margin: 8px;
    margin-left: 0;
    margin-right: 0;
    transition: var(--transition);
}

.social__link:hover {
    background-color: var(--color-primary);
}

/*
.social__link_alternative {
    width: 32px;
    height: 32px;
    border: 2px solid var(--color-white);
    border-radius: 50%;
    margin: 8px;
    transition: var(--transition);
}

.social__link_alternative:hover {
    background-color: var(--color-primary);
}

.social__link_alternative:not(:last-child) {
    margin-right: 14px;
}
*/

.social__icon {
    fill: var(--color-white);
    margin: 8px;
}
