.subtitle {
    margin: 0;
    font-size: 16px;
    font-weight: normal;

    &_size_xs {
        font-size: 12px;
    }

    &_size_sm {
        font-size: 13px;
    }

    &_size_lg {
        font-size: 20px;
    }

    &_size_xl {
        font-size: 30px;
    }
}

@media (max-width: 768px) {
    .subtitle_size_xl {
        font-size: 24px;
    }
}
