@mixin children-gap($margin) {
    &:first-child {
        margin-top: $margin;
    }

    &:last-child {
        margin-bottom: $margin;
    }
}

.text {
    p,
    ol,
    ul {
        margin: 16px 0;
        @include children-gap(0);
    }

    li {
        margin: 8px 0;
        @include children-gap(0);
    }

    ol,
    ul {
        ol,
        ul {
            &:first-child {
                margin-top: 16px;
            }

            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    ul {
        list-style-type: none;

        & li::before {
            padding-right: 4px;
            color: $color-primary;
            content: '●';
        }
    }

    ol {
        counter-reset: num;
        list-style-type: none;

        li::before {
            counter-increment: num;
            content: counters(num, '.') '.';
            font-weight: bold;
            padding-right: 4px;
        }
    }
}
