.text {
    p {
        margin: 16px 0;
    }

    ul,
    ol {
        margin: 16px 0;

        & > li {
            margin-top: 8px;
        }
    }

    p,
    ul,
    ol {
        &:first-child {
            margin-top: 0;
        }

        &:last-child {
            margin-bottom: 0;
        }
    }
}
