.text {
    p,
    ul,
    ol {
        display: inline-block;
        margin: 8px 0;

        &:first-child {
            margin-top: 0;
        }

        &:last-child {
            margin-bottom: 0;
        }
    }

    ul,
    ol {
        li {
            display: inline-block;
            margin: 8px 0;

            &:first-child {
                margin-top: 0;
            }

            &:last-child {
                margin-bottom: 0;
            }

            > ol:first-child,
            > ul:first-child {
                margin-top: 16px;
            }
        }
    }

    ul {
        list-style-type: none;

        & li::before {
            padding-right: 4px;
            color: $color-primary;
            content: '●';
        }
    }

    ol {
        counter-reset: num;
        list-style-type: none;

        li::before {
            counter-increment: num;
            content: counters(num, '.') '.';
            font-weight: bold;
            padding-right: 4px;
        }
    }
}
