.title {
    font-family: var(--font-secondary);
    font-size: 20px;
    text-transform: uppercase;
    user-select: none;
}

.title_head {
    font-size: 48px;
    font-weight: bold;
    letter-spacing: 7px;
}

.title_section_block {
    font-size: 14px;
}
