.work__button {
    padding: 8px 16px;
    font-size: 10px;
    border: none;
    background-color: var(--color-white);
    color: var(--color-primary);
}

.work__button .button__icon_size_small {
    flex: none;
    height: 6px;
    margin-left: 8px;
}
