.button {
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 12px;
    color: var(--color-white);
    border: 2px solid var(--color-white);
    padding: 10px 25px;
    transition: background-color 0.5s ease, color 0.5s ease;
}

.button:hover,
.button_works:hover svg {
    background-color: var(--color-white);
    color: var(--color-text);
    transition: none;
    fill: var(--color-text);
}

.button_works {
    padding: 5px 20px;
    font-size: 10px;
    border: none;
    background-color: var(--color-white);
    color: var(--color-primary);
}

.button_arrow {
    position: relative;
    height: 8px;
    right: -12px;
    fill: var(--color-primary);
}

.button_out-works {
    font-size: 14px;
}
