html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    font-family: $font-primary;
    font-size: 14px;
    line-height: 1.5;
    color: $color-text;
}

a:not([class]),
a[class=''] {
    @extend %transition;
    text-decoration: none;
    color: $color-text;
    border-bottom: 1px solid currentColor;
}

a:not([class]):hover,
a[class='']:hover,
a:not([class]):focus,
a[class='']:focus {
    color: $color-primary;
}

a:not([class]):active,
a[class='']:active {
    color: $color-primary-active;
}
