html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    font-family: var(--font-primary);
    font-size: 14px;
    line-height: 1.5;
    color: var(--color-text);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Helpers */

.text-white {
    color: var(--color-white);
}

.text-center {
    text-align: center;
}

.bg-black {
    background-color: var(--color-black);