html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    font-family: var(--font-primary);
    font-size: 14px;
    line-height: 1.5;
    color: var(--color-text);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

a:not([class]),
a[class=""] {
    text-decoration: none;
    color: var(--color-text);
    border-bottom: 1px solid currentColor;
    transition: var(--transition);
}

a:not([class]):hover,
a[class=""]:hover,
a:not([class]):focus,
a[class=""]:focus {
    color: var(--color-primary);
}

a:not([class]):active,
a[class=""]:active {
    color: var(--color-primary-active);
}

/* Helpers */

.text-white {
    color: var(--color-white);
}

.text-center {
    text-align: center;
}

.bg-black {
    background-color: var(--color-black);
}

.my-8 {
    margin-top: 32px;
    margin-bottom: 32px;
}
