$gap-sm: 12px;
$gap-md: 16px;
$columns: 12;

.container {
    max-width: 1170px;
    margin: 0 auto;
}

.container,
.container-fluid {
    width: 100%;
    padding: 0 $gap-md;
    position: relative;
}

.row {
    margin: (-$gap-md * 2) (-$gap-md) 0 (-$gap-md);
    display: flex;
    flex-wrap: wrap;

    & + & {
        margin-top: 0;
    }
}

.row-gap-sm {
    margin: (-$gap-sm * 2) (-$gap-sm) 0 (-$gap-sm);

    > [class|='col'] {
        margin-top: $gap-sm * 2;
        padding: 0 $gap-sm;
    }
}

[class|='col'] {
    margin-top: $gap-md * 2;
    padding: 0 $gap-md;
}

.col {
    flex: 1 0;
}

.col-auto {
    width: auto;
}

@for $i from 1 through $columns {
    .col-#{$i} {
        width: 100% / $columns * $i;
    }
}
