$gap-sm: 12px;
$gap-md: 16px;
$columns: 12;

.container {
    max-width: 1170px;
    margin: 0 auto;
}

.container,
.container-fluid {
    width: 100%;
    padding: 0 $gap-md;
    position: relative;
}

.row {
    margin-top: 0;
    margin-right: -$gap-md;
    margin-bottom: 0;
    margin-left: -$gap-md;
    display: flex;
    flex-wrap: wrap;
}

.row-gap-sm {
    margin: -$gap-sm;

    & + .row {
        margin-top: $gap-sm;
    }

    & > [class|='col'] {
        padding-left: $gap-sm;
        padding-top: $gap-sm * 2;
        padding-right: $gap-sm;
    }
}

[class|='col'] {
    padding-top: $gap-md * 2;
    padding-right: $gap-md;
    padding-bottom: 0;
    padding-left: $gap-md;
}

.col {
    flex: 1 0;
}

.col-auto {
    width: auto;
}

@for $i from 1 through $columns {
    .col-#{$i} {
        width: 100% / $columns * $i;
    }
}
