$gap: 16px;
$columns: 12;

.container {
    max-width: 1170px;
    margin: 0 auto;
}

.container,
.container-fluid {
    width: 100%;
    padding: 0 $gap;
    position: relative;
}

.row {
    margin: -$gap;
    display: flex;
    flex-wrap: wrap;
}

[class|='col'] {
    padding: $gap;
}

.col {
    flex: 1 0;
}

.col-auto {
    width: auto;
}

@for $i from 1 through $columns {
    .col-#{$i} {
        width: 100% / $columns * $i;
    }
}
