$gap-sm: 12px;
$gap-md: 16px;
$columns: 12;

.container {
    margin: 0 auto;

    @include screen-up(sm) {
        max-width: 540px;
    }

    @include screen-up(md) {
        max-width: 720px;
    }

    @include screen-up(lg) {
        max-width: 960px;
    }

    @include screen-up(xl) {
        max-width: 1200px;
    }
}

.container,
.container-fluid {
    width: 100%;
    padding: 0 $gap-md;
    position: relative;
}

.row {
    margin: (-$gap-md * 2) (-$gap-md) 0;
    display: flex;
    flex-wrap: wrap;

    & + & {
        margin-top: 0;
    }
}

[class|='col'] {
    width: 100%;
    margin-top: $gap-md * 2;
    padding: 0 $gap-md;
}

.col {
    flex: 1 0;
}

.col-auto {
    width: auto;
}

@include screen-down(lg) {
    .row {
        margin: (-$gap-md) (-$gap-md) 0;
        [class|='col'] {
            padding: 0 $gap-md;
        }
    }
}

@include screen-down(md) {
    .row {
        margin: (-$gap-md) (-$gap-md / 2) 0;

        [class|='col'] {
            padding: 0 $gap-md;
        }
    }
}

@include screen-down(sm) {
    .row {
        margin: (-$gap-md) $gap-md 0;

        [class|='col'] {
            margin-top: $gap-md * 2;
            padding: 0 $gap-md / 4;
        }
    }
}

@for $i from 1 through $columns {
    .col-#{$i} {
        width: 100% / $columns * $i;
        flex: 0 0 (100% / $columns * $i);
    }
}

@include screen-up(sm) {
    @for $i from 1 through $columns {
        .col-sm-#{$i} {
            width: 100% / $columns * $i;
            flex: 0 0 (100% / $columns * $i);
        }
    }
}

@include screen-up(md) {
    @for $i from 1 through $columns {
        .col-md-#{$i} {
            width: 100% / $columns * $i;
            flex: 0 0 (100% / $columns * $i);
        }
    }
}

@include screen-up(lg) {
    @for $i from 1 through $columns {
        .col-lg-#{$i} {
            width: 100% / $columns * $i;
            flex: 0 0 (100% / $columns * $i);
        }
    }
}

@include screen-up(xl) {
    @for $i from 1 through $columns {
        .col-xl-#{$i} {
            width: 100% / $columns * $i;
            flex: 0 0 (100% / $columns * $i);
        }
    }
}

.row-gap-sm {
    margin: (-$gap-sm * 2) (-$gap-sm) 0;

    [class|='col'] {
        margin-top: $gap-sm * 2;
        padding: 0 $gap-sm;
    }
}
