$gap-sm: 12px;
$gap-md: 16px;
$columns: 12;

.container {
    max-width: 1170px;
    margin: 0 auto;
}

.container,
.container-fluid {
    width: 100%;
    padding: 0 $gap-md;
    position: relative;
}

.row {
    margin: -$gap-md;
    margin-bottom: 0;
    display: flex;
    flex-wrap: wrap;
}

.row-gap-sm {
    margin: -$gap-sm;

    + .row {
        margin-top: $gap-sm;
    }

    > [class|='col'] {
        padding: $gap-sm * 2 $gap-sm 0 $gap-sm;
    }
}

[class|='col'] {
    padding: $gap-md * 2 $gap-md 0 $gap-md;
}

.col {
    flex: 1 0;
}

.col-auto {
    width: auto;
}

@for $i from 1 through $columns {
    .col-#{$i} {
        width: 100% / $columns * $i;
    }
}
