$gap-sm: 12px;
$gap-md: 16px;
$columns: 12;

.container {
    margin: 0 auto;

    @media (max-width: 576px) {
        .container {
            max-width: 544px;
        }
    }

    @media (max-width: 992px) {
        .container {
            max-width: 960px;
        }
    }

    @media (max-width: 768px) {
        .container {
            max-width: 736px;
        }
    }

    @media (max-width: 1200px) {
        .container {
            max-width: 1170px;
        }
    }
}

.container,
.container-fluid {
    width: 100%;
    padding: 0 $gap-md;
    position: relative;
}

.row {
    margin: (-$gap-md * 2) (-$gap-md) 0;
    display: flex;
    flex-wrap: wrap;

    & + & {
        margin-top: 0;
    }
}

@media (max-width: 768px) {
    .blog .row {
        flex-direction: column;

        [class^='col-']:first-child {
            width: 100%;
        }
    }
}

.row-gap-sm {
    margin: (-$gap-sm * 2) (-$gap-sm) 0;

    > [class|='col'] {
        margin-top: $gap-sm * 2;
        padding: 0 $gap-sm;
    }

    @media (max-width: 768px) {
        margin: (-$gap-sm * 2 / 2) (-$gap-sm / 2) 0;

        > [class|='col'] {
            margin-top: $gap-sm / 2;
        }
    }
}

[class|='col'] {
    margin-top: $gap-md * 2;
    padding: 0 $gap-md;

    @media (max-width: 768px) {
        margin-top: $gap-md;
    }
}

.col {
    flex: 1 0;
}

.col-auto {
    width: auto;
}

@for $i from 1 through $columns {
    .col-#{$i} {
        width: 100% / $columns * $i;
    }
}

@for $i from 1 through $columns {
    .col-sm-#{$i} {
        flex: 0 0 auto;
        width: 100% / $columns * $i;
    }
}

@for $i from 1 through $columns {
    .col-md-#{$i} {
        flex: 0 0 auto;
        width: 100% / $columns * $i;
    }
}

@for $i from 1 through $columns {
    .col-lg-#{$i} {
        flex: 0 0 auto;
        width: 100% / $columns * $i;
    }
}

@for $i from 1 through $columns {
    .col-xl-#{$i} {
        flex: 0 0 auto;
        width: 100% / $columns * $i;
    }
}
