:root {
    --font-primary: "Roboto Slab", serif;
    --font-secondary: "Montserrat", sans-serif;
    --color-primary: #c0301c;
    --color-primary-active: #f13a13;
    --color-text: #555;
    --color-text-active: #3d3d3d;
    --color-gray: #f8f8f8;
    --color-white: #fff;
    --color-white-active: #ccc;
    --color-black: #000;
    --header-height: 63px;
    --transition: 0.3s ease;
}
