:root {
    --font-primary: "Roboto Slab", serif;
    --font-secondary: "Montserrat", sans-serif;
    --color-primary: #c0301c;
    --color-primary-active: #802013;
    --color-text: #555;
    --color-text-active: #3d3d3d;
    --color-gray: #f8f8f8;
    --color-white: #fff;
    --color-white-darker: #ccc;
    --color-white-darkest: #999;
    --color-black: #000;
    --color-fb: #1877f2;
    --color-fb-active: #0f59bf;
    --color-tw: #1da1f2;
    --color-tw-active: #1d76bf;
    --color-gp: #db4437;
    --color-gp-active: #a8352a;
    --color-linkedin: #0a66c2;
    --color-linkedin-active: #0a4c8f;
    --header-height: 72px;
    --transition: 0.3s ease;
}
