:root {
    --font-primary: "Roboto Slab", serif;
    --font-secondary: "Montserrat", sans-serif;
    --color-primary: #c0301c;
    --color-text: #555;
    --color-gray: #f8f8f8;
    --color-white: #fff;
    --color-black: #000;
    --header-height: 63px;
}