.header {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;

    &__nav {
        @include screen-down(md) {
            display: none;
        }
    }

    &__nav-burger {
        margin: 0 8px;

        @include screen-up(md) {
            display: none;
        }
    }
}
