.clients {
    text-align: center;

    &__img-wrap {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }

    &__img {
        padding: 0.4rem 1.8rem;

        @include screen-down(sm) {
            margin-bottom: 1.6rem;
        }
    }

    &__quote {
        max-width: 800px;
        margin: 0 auto;
    }

    &__quote-text {
        margin-top: 32px;
        font-size: 1.8rem;
        font-style: italic;
    }

    &__quote-author {
        margin-top: 36px;
        font-size: 2rem;
    }
}
